.process-yellow{background-color:#f7e214;}
.pantone-100{background-color:#f4ed7c;}
.pantone-101{background-color:#f4ed47;}
.pantone-102{background-color:#f9e814;}
.pantone-yellow{background-color:#fce016;}
.pantone-103{background-color:#c6ad0f;}
.pantone-104{background-color:#ad9b0c;}
.pantone-105{background-color:#82750f;}
.pantone-106{background-color:#f7e859;}
.pantone-107{background-color:#f9e526;}
.pantone-108{background-color:#f7dd16;}
.pantone-109{background-color:#f9d616;}
.pantone-110{background-color:#d8b511;}
.pantone-111{background-color:#aa930a;}
.pantone-112{background-color:#99840a;}
.pantone-113{background-color:#f9e55b;}
.pantone-114{background-color:#f9e24c;}
.pantone-115{background-color:#f9e04c;}
.pantone-116{background-color:#fcd116;}
.pantone-117{background-color:#c6a00c;}
.pantone-118{background-color:#897719;}
.pantone-119{background-color:#897719;}
.pantone-120{background-color:#f9e27f;}
.pantone-121{background-color:#f9e070;}
.pantone-122{background-color:#fcd856;}
.pantone-123{background-color:#ffc61e;}
.pantone-124{background-color:#e0aa0f;}
.pantone-125{background-color:#b58c0a;}
.pantone-1205{background-color:#f7e8aa;}
.pantone-1215{background-color:#f9e08c;}
.pantone-1225{background-color:#ffcc49;}
.pantone-1235{background-color:#fcb514;}
.pantone-1245{background-color:#bf910c;}
.pantone-1255{background-color:#a37f14;}
.pantone-1265{background-color:#7c6316;}
.pantone-127{background-color:#f4e287;}
.pantone-128{background-color:#f4db60;}
.pantone-129{background-color:#f2d13d;}
.pantone-130{background-color:#eaaf0f;}
.pantone-131{background-color:#c6930a;}
.pantone-132{background-color:#9e7c0a;}
.pantone-133{background-color:#705b0a;}
.pantone-134{background-color:#ffd87f;}
.pantone-135{background-color:#fcc963;}
.pantone-136{background-color:#fcbf49;}
.pantone-137{background-color:#fca311;}
.pantone-138{background-color:#d88c02;}
.pantone-139{background-color:#af7505;}
.pantone-140{background-color:#7a5b11;}
.pantone-1345{background-color:#ffd691;}
.pantone-1355{background-color:#fcce87;}
.pantone-1365{background-color:#fcba5e;}
.pantone-1375{background-color:#f99b0c;}
.pantone-1385{background-color:#cc7a02;}
.pantone-1395{background-color:#996007;}
.pantone-141{background-color:#f2ce68;}
.pantone-142{background-color:#f2bf49;}
.pantone-143{background-color:#efb22d;}
.pantone-144{background-color:#e28c05;}
.pantone-145{background-color:#c67f07;}
.pantone-146{background-color:#9e6b05;}
.pantone-147{background-color:#725e26;}
.pantone-148{background-color:#ffd69b;}
.pantone-149{background-color:#fccc93;}
.pantone-150{background-color:#fcad56;}
.pantone-151{background-color:#f77f00;}
.pantone-152{background-color:#dd7500;}
.pantone-153{background-color:#bc6d0a;}
.pantone-154{background-color:#995905;}
.pantone-1485{background-color:#ffb777;}
.pantone-1495{background-color:#ff993f;}
.pantone-1505{background-color:#f47c00;}
.pantone-021{background-color:#ef6b00;}
.pantone-1525{background-color:#b55400;}
.pantone-1535{background-color:#8c4400;}
.pantone-1545{background-color:#4c280f;}
.pantone-155{background-color:#f4dbaa;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-159{background-color:#c66005;}
.pantone-160{background-color:#9e540a;}
.pantone-161{background-color:#633a11;}
.pantone-1555{background-color:#f9bf9e;}
.pantone-1565{background-color:#fca577;}
.pantone-1575{background-color:#fc8744;}
.pantone-1585{background-color:#f96b07;}
.pantone-1595{background-color:#d15b05;}
.pantone-1605{background-color:#a04f11;}
.pantone-1615{background-color:#843f0f;}
.pantone-162{background-color:#f9c6aa;}
.pantone-163{background-color:#fc9e70;}
.pantone-164{background-color:#fc7f3f;}
.pantone-165{background-color:#f96302;}
.pantone-166{background-color:#dd5900;}
.pantone-167{background-color:#bc4f07;}
.pantone-168{background-color:#6d3011;}
.pantone-1625{background-color:#f9a58c;}
.pantone-1635{background-color:#f98e6d;}
.pantone-1645{background-color:#f97242;}
.pantone-1655{background-color:#f95602;}
.pantone-1665{background-color:#f95602;}
.pantone-1675{background-color:#a53f0f;}
.pantone-1685{background-color:#843511;}
.pantone-169{background-color:#f9baaa;}
.pantone-170{background-color:#f98972;}
.pantone-171{background-color:#f9603a;}
.pantone-172{background-color:#f74902;}
.pantone-173{background-color:#d14414;}
.pantone-174{background-color:#933311;}
.pantone-175{background-color:#6d3321;}
.pantone-176{background-color:#f9afad;}
.pantone-177{background-color:#f9827f;}
.pantone-178{background-color:#f95e59;}
.pantone-warm-Red{background-color:#f93f26;}
.pantone-179{background-color:#e23d28;}
.pantone-180{background-color:#c13828;}
.pantone-181{background-color:#7c2d23;}
.pantone-1765{background-color:#f99ea3;}
.pantone-1775{background-color:#f9848e;}
.pantone-1785{background-color:#fc4f59;}
.pantone-1788{background-color:#ef2b2d;}
.pantone-1795{background-color:#d62828;}
.pantone-1805{background-color:#af2626;}
.pantone-1815{background-color:#7c211e;}
.pantone-1767{background-color:#f9b2b7;}
.pantone-1777{background-color:#fc6675;}
.pantone-1787{background-color:#f43f4f;}
.pantone-red-032{background-color:#ef2b2d;}
.pantone-1797{background-color:#cc2d30;}
.pantone-1807{background-color:#a03033;}
.pantone-1817{background-color:#5b2d28;}
.pantone-182{background-color:#f9bfc1;}
.pantone-183{background-color:#fc8c99;}
.pantone-184{background-color:#fc5e72;}
.pantone-185{background-color:#e8112d;}
.pantone-186{background-color:#ce1126;}
.pantone-187{background-color:#af1e2d;}
.pantone-188{background-color:#7c2128;}
.pantone-189{background-color:#ffa3b2;}
.pantone-190{background-color:#fc758e;}
.pantone-191{background-color:#f4476b;}
.pantone-192{background-color:#e5053a;}
.pantone-193{background-color:#bf0a30;}
.pantone-194{background-color:#992135;}
.pantone-195{background-color:#772d35;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}
.pantone-156{background-color:#f2c68c;}
.pantone-157{background-color:#eda04f;}
.pantone-158{background-color:#e87511;}