@media (max-width: 1199px) {
  .navbar-main .navbar-nav > li > a {
    padding: 14px 18px;
  }
  .navbar-main .navbar-nav > li:last-child > a {
    margin-left: 15px;
  }
  .banner-header {
    padding: 15px 0;
  }
  .banner-header h2 {
    font-size: 17px;
  }
  .carousel-inner .item.bg-inline {
    height: 280px;
  }
  .carousel-caption {
    max-width: 300px;
  }
  .carousel-caption h1 {
    font-size: 45px;
  }
  .service-section .service-label p {
    line-height: 24px;
  }
  .service-section .service-icon {
    height: 86px;
  }
  .wristband-img-holder {
    width: 100%;
  }
  .social-list li {
    padding: 0 1em;
  }
  .approved {
    margin-left: 10px;

    li {
      img {
        zoom: 96%;
      }
    }
  }
  .footer-holder .form-group .form-control {
    margin-left: 0;
    padding: 10px 10px;
  }
  .footer-holder .form-group label {
    font-size: 13px;
  }
  .footer-holder .btn-submit {
    right: 6%;
    padding: 0;
  }
  .style-content {
    padding-top: 1em;
  }
  .faq-container {
    width: initial;
  }
  .about-wrist-img {
    img {
      width: 100%;
    }
  }
}
@media (max-width: 991px) {
  .service-section .col-md-3 {
    width: 176px;
    display: inline-block;
  }
  .style-bg {
    margin-top: 3em;
  }
  .bg-review-holder {
    .col-md-4 {
      width: 236px;
      display: inline-block;

      img {
        width: 100%;
      }
    }
    .approve-img {
      img {
        width: auto;
      }
    }
  }
  .panel-default .panel-title {
    font-size: 32px;
  }
  .about-wrist p {
    max-width: 100%;
  }
  .form-group:last-child {
    margin-bottom: 10px;
  }
  .footer-top {
    .container {
      .col-md-4 {
        .footer-list-holder {
          margin: auto;
          display: table;
        }
      }
      .col-md-4:first-child {
        display: none;
      }
      .col-md-4:nth-child(2) {
        display: none;
      }
    }
  }
  .footer-bottom {
    margin: auto;
    text-align: center;

    .col-md-4:last-child {
      display: none;
    }
    .col-md-4 {
      width: 49%;
      display: inline-block;
    }
  }
  .sales-toll-holder {
    padding-top: 2em;

    .col-md-2 {
      float: left;
    }
    .toll-holder {
      text-align: left;
      padding-left: 4em;

      p {
        margin-bottom: 0;
      }
    }
  }
  .get-in-touch-section .col-md-3 {
    width: 50%;
    display: inline-block;
    float: left;
    min-height: 170px;
  }
  .customize .tab-content {
    margin-top: 30px;
  }
  .customize h1 {
    margin-bottom: 30px;
  }
  .color-pantone-list {
    text-align: center;

    li {
      width: 18%;
    }
  }
}
@media (max-width: 747px) {
  .service-section .col-md-3 {
    width: 174px;
  }
  .bg-review-holder {
    display: none;
  }
  .review-bg {
    padding: 4em 0;
  }
  #logos ul {
    text-align: center;
  }
  #logos ul li {
    width: 24%;
  }
}
@media (max-width: 739px) {
  .service-section .col-md-3 {
    width: 173px;
  }
  .panel-default .panel-title {
    font-size: 29px;
  }
}
@media (max-width: 735px) {
  .service-section .col-md-3 {
    width: 171px;
  }
  .service-section {
    .container {
      margin: auto;
      display: table;
      text-align: center;
    }
  }
  #logos ul li {
    width: 32%;
  }
  .customize-size {
    img {
      width: 100%;
    }
  }
}
@media (max-width: 713px) {
  .service-section .col-md-3 {
    margin-bottom: 20px;
  }
  .get-in-touch-section .col-md-3 {
    width: 100%;
    display: block;
    float: none;
  }
  div#fonts ul {
    margin: auto;
    text-align: center;
    display: table;
  }
  .customize #fonts ul li {
    width: 21%;
    float: none;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 702px) {
  .bg-blue-about a {
    display: table;
    margin: 20px auto;
  }
  .bg-blue-about .btn-message {
    margin-right: auto;
  }
  .bg-blue-about h4 {
    font-size: 20px;
  }
  .panel-default .panel-title a:before {
    padding-top: 0px;
    font-size: 20px;
  }
  .color-pantone-list li {
    width: 30%;
  }
}
@media (max-width: 630px) {
  .copy-gap-top {
    margin: auto;
    display: table;
    text-align: center;
  }
  .product-table {
    padding: 1em 1em;
    margin-top: 1em;

    .nav-tabs > li {
      width: 50%;
    }
    .tab-content {
      padding: 1em;
    }
  }
  .customize #fonts ul li {
    width: 29%;
  }
}
@media (max-width: 582px) {
  .copyright {
    float: none;
    text-align: center;
  }
  .card-list {
    float: none;
    text-align: center;
    margin-top: 10px;
  }
}
@media (max-width: 492px) {
  .footer-bottom {
    margin: auto;
    text-align: left;
    display: table;
  }
  .footer-bottom .col-md-4 {
    width: 100%;
    margin: auto;
    display: table;
  }
  .sales-toll-holder .col-md-2 {
    padding: 0;
  }
  .sales-toll-holder .toll-holder {
    text-align: left;
    padding-left: 50px;
  }
}
@media (max-width: 423px) {
  .copy-proxima-s-bold {
    text-align: center;
    margin-bottom: 20px;
  }
  .list-other li {
    margin-right: 0;
    width: 100%;
    display: table;
  }
  .single-product {
    margin-bottom: 4em;
  }
  .customize #fonts ul li {
    width: 44%;
  }
}
@media (max-width: 418px) {
  .bg-blue-about a {
    font-size: 13px;
    padding: 10px 20px;
  }
  .panel-default .panel-title {
    font-size: 16px;
  }
  .carousel-caption {
    left: 50%;
    max-width:initial;
    width: 80%;
    .translate(-50%,-50%);

    p {
      font-size: 15px;
    }
    h1 {
      font-size: 30px;
    }
  }
  .approved {
    li {
      img {
        zoom: 80%;
      }
    }
  }
  .style-content a {
    padding: 15px 20px;
    font-size: 13px;
  }
  .color-pantone-list li {
    width: 47%;
  }
  #logos ul li {
    width: 49%;
  }
  .btn-pad {
    padding: 1em 2em !important;
  }
}